<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="parent/parent-common::commonHeader">
</head>
<body>
<div th:include="parent/parent-common::commonNavBar" class="navbar navbar-default" id="navbar"></div>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div th:include="parent/parent-common::commonNav('parent-score')" class="sidebar" id="sidebar"></div>

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/parentHome">主页</a>
                    </li>

                    <li class="active">成绩查看</li>
                </ul>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div id="personalScore" style="width: 1000px; height:400px">
                        成绩折线图
                    </div>
                </div>
            </div>

            <!--页面具体内容-->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>
<div th:include="parent/parent-common::commonFooter"></div>
<script th:src="@{static/js/echarts.js}"></script>
<script>
    var examDate = [[${examDate}]];
    var scores = [[${scores}]];

    var myChart = echarts.init(document.getElementById("personalScore"));
    var option = {
        title:{
            text:"Personal Score"
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['考试时间']
        },

        xAxis : {
                data : examDate
            },
        yAxis :{},
        series : [
            {
                name: '成绩',
                type: 'line',
                data: scores
            }
        ]
    };

    myChart.setOption(option);

</script>
</body>
<!--script-->
</html>
