<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="parent/parent-common::commonHeader">
</head>
<body>
<div th:include="parent/parent-common::commonNavBar" class="navbar navbar-default" id="navbar"></div>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div th:include="parent/parent-common::commonNav('parent-info')" class="sidebar" id="sidebar"></div>

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/parentHome">主页</a>
                    </li>

                    <li class="active">个人信息</li>
                </ul>
            </div>

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        个人信息
                    </h1>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="user-profile-3" class="user-profile row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="well well-sm">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    &nbsp;
                                    <div class="inline middle blue bigger-110"> 您的资料完整度为<span th:text="${percent}+'%'">0</span> </div>

                                    &nbsp; &nbsp; &nbsp;
                                    <div style="width:200px;" th:attr="data-percent=${percent}" class="inline middle no-margin progress progress-striped active">
                                        <div th:style="'width:'+${percent}+'%'" class="progress-bar progress-bar-success"></div>
                                    </div>
                                </div><!-- /well -->

                                <div class="space"></div>

                                <form class="form-horizontal" id="validation-form">
                                    <div class="tabbable">
                                        <ul class="nav nav-tabs padding-16">
                                            <li class="active">
                                                <a data-toggle="tab" href="#edit-basic">
                                                    <i class="green icon-edit bigger-125"></i>
                                                    基本信息
                                                </a>
                                            </li>
                                        </ul>

                                        <div class="tab-content profile-edit-tab-content">
                                            <div id="edit-basic" class="tab-pane in active">
                                                <h4 class="header blue bolder smaller">General</h4>
                                                <div class="space-4"></div>

                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-8">

                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label no-padding-right" for="parentMail">邮箱</label>

                                                            <div class="col-sm-8">
                                                                <div class="clearfix">
                                                                    <input th:value="${parent.parentMail}" class="col-xs-12 col-sm-8" type="email" name="parentMail" id="parentMail" readonly/>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="space-4"></div>

                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label no-padding-right" for="parentPassword">密码</label>

                                                            <div class="col-sm-8">
                                                                <div class="clearfix">
                                                                    <input th:value="${parent.parentPassword}" class="col-xs-12 col-sm-8" type="password" name="parentPassword" id="parentPassword" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="space-4"></div>

                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label no-padding-right" for="parentName">姓名</label>

                                                            <div class="col-sm-8">
                                                                <div class="clearfix">
                                                                    <input th:value="${parent.parentName}" class="col-xs-12 col-sm-8" type="text" name="parentName" id="parentName" placeholder="请填写您的姓名"/>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="space-4"></div>

                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label no-padding-right" for="studentId">学生学号</label>

                                                            <div class="col-sm-8">
                                                                <div class="clearfix">
                                                                    <input th:value="${parent.studentId}" class="col-xs-12 col-sm-8" type="text" name="studentId" id="studentId" placeholder="请填写学生学号"/>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="space-4"></div>

                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label no-padding-right" for="studentName">学生姓名</label>

                                                            <div class="col-sm-8">
                                                                <div class="clearfix">
                                                                    <input th:value="${parent.studentName}" class="col-xs-12 col-sm-8" type="text" name="studentName" id="studentName" placeholder="请填写学生姓名"/>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="space-4"></div>
                                                    </div>
                                                </div>

                                                <h4 class="header blue bolder smaller">Contact</h4>

                                                <div class="row">
                                                    <div class="space-4"></div>

                                                    <div class="col-xs-12 col-sm-8">

                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label no-padding-right" for="parentPhone">电话</label>
                                                            <div class="col-sm-8">
                                                                <div class="clearfix">
                                                                    <input th:value="${parent.parentPhoneNumber}" class="col-xs-12 col-sm-8" type="text" name="parentPhone" id="parentPhone"  placeholder="请填写您的电话"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix form-actions">
                                        <div class="col-md-offset-5 col-md-9">
                                            <button id="submitInfo" class="btn btn-info" type="button">
                                                <i class="icon-ok bigger-110"></i>
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div><!-- /span -->
                        </div><!-- /user-profile -->
                    </div>
                </div>
            </div><!--页面具体内容-->
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>
<input th:value="${parent.parentId}" id="parentId" type="text" style="display:none;"/>
<!-- 模态框（Modal
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="addAddressTitle">绑定教师</h4>
            </div>
            <div class="modal-body">
                <form id="addressForm">
                    <div class="form-group">
                        <label for="addressToAdd" class="col-form-label">地址</label>
                        <input type="text" autofocus class="form-control" name="addressToAdd" id="addressToAdd">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addAddressSureBut">确定</button>
            </div>
        </div>
    </div>
</div>-->
<div th:include="parent/parent-common::commonFooter"></div>
<script th:src="@{static/js/jquery.validate.min.js}"></script>
</body>
<script th:inline="javascript">
    function Parent(id,email,password,name,phone,studentId,studentName){
        this.parentId=id;
        this.parentMail=email;
        this.parentPassword=password;
        this.parentName=name;
        this.parentPhoneNumber=phone;
        this.studentId=studentId;
        this.studentName=studentName;
    }
</script>
<script type="text/javascript">
    $("#addAddressSureBut").click(function (){
        var address = $("#addressToAdd").val();
        if(address!="") {
            console.log(address);
            $("#form-field-select").append("<option value='"+address+"'>"+address+"</option>");
            $("#myModal").modal("hide");
        }
    });

    $('#validation-form').validate({
        errorElement: 'div',
        errorClass: 'help-block',
        focusInvalid: false,
        onclick:true,
        rules: {
            parentMail: {
                required: true,
                email:true
            },
            parentPassword: {
                required: true,
                minlength: 6
            },
            parentName: {
                required: true,
                minlength:2
            },
            parentPhone: {
                required: true,
                minlength:5
            },
            studentId:{
                required: true,
                minlength:5
            },
            studentName: {
                required: true,
                minlength:2
            },
        },
        messages: {
            parentMail:{
                required: "Please provide a valid email.",
                email: "Please provide a valid email."
            },
            parentName:{
                required: "Please provide a name.",
                minlength: "Please provide a valid name."
            },
            parentPhone:{
                required: "Please provide a phone.",
                minlength: "Please provide a valid phone."
            },
            studentId:{
                required: "Please provide an ID",
                minlength: "Please provide a valid ID."
            },
            studentName:{
                required: "Please provide a name.",
                minlength: "Please provide a valid name."
            },
        },
        invalidHandler: function (event, validator) { //display error alert on form submit
            $('.alert-danger', $('.login-form')).show();
        },

        highlight: function (e) {
            $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
        },

        success: function (e) {
            $(e).closest('.form-group').removeClass('has-error').addClass('has-info');
            $(e).remove();
        },
        errorPlacement: function (error, element) {
            if(element.is(':checkbox') || element.is(':radio')) {
                var controls = element.closest('div[class*="col-"]');
                if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
                else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
            }
            else if(element.is('.select2')) {
                error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
            }
            else if(element.is('.chosen-select')) {
                error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
            }
            else error.insertAfter(element.parent());
        },
        submitHandler: function (form) {
        },
        invalidHandler: function (form) {
        }
    });

    document.getElementById("submitInfo").onclick=function(){
        if(!$("#validation-form").valid()){
            return;
        }
        var id=document.getElementById("parentId").value;
        var email=document.getElementById("parentMail").value;
        var password=document.getElementById("parentPassword").value;
        var name=document.getElementById("parentName").value;
        var phone=document.getElementById("parentPhone").value;
        var studentId=document.getElementById("studentId").value;
        var studentName=document.getElementById("studentName").value;

        var parent=new Parent(id,email,password,name,phone,studentId,studentName);
        $.ajax({
            type: 'POST',
            url: "parent/update",
            contentType: "application/json",
            data: JSON.stringify(parent),
            success:function(result) {
                if(result=true) {
                    window.location.reload();
                }else{
                    bootbox.alert("该学号已注册！");
                }
            },
            error: function (result) {
                bootbox.alert("error!");
            }
        });I
    };
</script>
</html>
