<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="teacher/teacher-common::commonHeader">
</head>
<body>
<div th:include="teacher/teacher-common::commonNavBar" class="navbar navbar-default" id="navbar"></div>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div th:include="teacher/teacher-common::commonNav('teacher-statistics')" class="sidebar" id="sidebar"></div>

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/teacherHome">主页</a>
                    </li>

                    <li class="active">成绩统计</li>
                </ul>
            </div>
            <div class="page-content">
                <div class="page-header">
                    <h1>
                        成绩统计
                    </h1>
                </div>
                <div class="row">
                    <div class="widget-body">
                        <div class="widget-main">
                            <div id="averageScore" style="width: 1000px; height:400px">
                                考试平均分统计：
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>
<div th:include="teacher/teacher-common::commonFooter"></div>
<script th:src="@{static/js/echarts.js}"></script>
<script>
    var examDateRes = [];
    var averageScoresRes = [];
    function AverageScore(examDate, averageScores){
        this.examDate = examDate;
        this.averageScores = averageScores;
    }
    $.ajax({
        type: 'POST',
        url: "teacher/showAverageScores",
        async : false,
        data: {},
        success:function(result) {
            var tmpStore = result.examDate;
            for(var i = 0; i < tmpStore.length; i++){
                var oneTmp = String(tmpStore[i]);
                if(tmpStore[i] != null)
                    examDateRes.push(oneTmp.substr(0, 10));
                else
                    examDateRes.push("无日期");
            }
            averageScoresRes = result.averageScores;
        },
        error: function (result) {
            bootbox.alert("error!");
        }
    });
    var myChart = echarts.init(document.getElementById("averageScore"));
    var option = {
        title:{
            text:"考试平均分折线图"
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            type:'scroll',
            orient: 'horizontal',
            data:['考试时间'],
            icon:'circle'
        },

        toolbox: { //可视化的工具箱
            show: true,
            feature: {
                dataView: { //数据视图
                    show: true
                },
                restore: { //重置
                    show: true
                },
                dataZoom: { //数据缩放视图
                    show: true
                },
                saveAsImage: {//保存图片
                    show: true
                },
                magicType: {//动态类型切换
                    type: ['bar', 'line']
                }
            }
        },

        dataZoom: {
            orient: 'horizontal',
            backgroundColor: 'rgba(0,0,0,0)',
            dataBackgroundColor: '#eee',
            fillerColor: 'rgba(144,197,237,0.2)',
            handleColor: 'rgba(70,130,180,0.8)'
        },

        xAxis : {
            data : examDateRes
        },
        yAxis :{},
        series : [
            {
                name: '考试时间',
                type: 'line',
                data: averageScoresRes
            }
        ]
    };

    myChart.setOption(option);

</script>
</body>
<!--script-->
</html>

