<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="teacher/teacher-common::commonHeader">
</head>
<body>
<div th:include="teacher/teacher-common::commonNavBar" class="navbar navbar-default" id="navbar"></div>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div th:include="teacher/teacher-common::commonNav('teacher-statistics')" class="sidebar" id="sidebar"></div>

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/teacherHome">主页</a>
                    </li>

                    <li class="active">成绩统计</li>
                </ul>
            </div>

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        成绩统计
                    </h1>
                </div>
                <div class="row">

                    <div id="personalScore" style="width: 1000px; height:400px">
                        成绩折线图
                    </div>


                </div>
            </div><!--页面具体内容-->
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>
<div th:include="teacher/teacher-common::commonFooter"></div>

<script>
    var myChart = echarts.init(document.getElementById("personalScore"));
    var option = {
        title:{
            text:"Personal Score"
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['考试时间']
        },

        xAxis : [
            {
                data : ['01-01','02-01','03-01','04-01','05-01','06-01','07-01']
            }
        ],
        yAxis : [
        ],
        series : [
            {
                name: '成绩',
                type: 'line',
                data: [60, 70, 50, 80, 90, 80, 90]
            }
        ]
    };

    myChart.setOption(option);

</script>

<script type="text/javascript" src="../../static/js/echarts.js"></script>
</body>
</html>